header {
    height: 100px;
    background-color: #121212;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}
header a:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

header .menu a {
    margin: 0 30px;
}